<div class='post-create'>
  <form class="form-horizontal">
    <div class='control-group'>
      <label class="control-label">Title</label>
      <div class="controls">
        {{input value=title class="input"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-group">Body</label>
      <div class="controls">
        {{textarea value=body}}
      </div>
    </div>

    <div class="control-group">
      <div class='controls'>
        <button {{action "save"}} class="btn">Save</button>
      </div>
    </div>
  </form>
</div>

